{% extends 'base.html' %}
{% block title %}
SignUp | DB
{% endblock %}
{% block css %}
{% load static %}   
{% comment %} <link rel="stylesheet" href="{% static 'css/signup.css' %}"> {% endcomment %}
{% endblock %}
{% block body %}  
<div class="row">
  <div class="col-5 side-img" >
      <!-- <img src="slide2.png" alt=""> -->
  </div>
  <div class="col-7 signup_div">
     
      <div class="container">
          <div class="text-end pt-4 dont-have">
              <p>Already have an account?<a href="{% url 'login' %}" class="btn ms-3 ps-3 pe-3 btn-outline-db">Login</a></p>
          </div>
          <div class="formcontainer  container">
      <form  action='' method='POST' class="signupform">
        {% csrf_token %}
          <h3>SIGN UP</h3>
          <div class="form-row row mb-4">
            <div class="col">
                <label for="exampleInputPassword1" class="form-label">First Name</label>
                {{form.first_name}}
               </div>
            <div class="col">
                <label for="exampleInputPassword1" class="form-label">Last Name</label>
                {{form.last_name}}
              </div>
          </div>
          <div class="form-row row mb-4">
            <div class="col mb-4 email-div">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
               {{form.email}}
            </div>
            <div class="col">
                <label for="exampleInputPassword1" class="form-label">comfirm password</label>
                {{form.phone_number}}
               </div>
          </div>
          
          <div class="form-row row mb-4">
              <div class="col">
                   <label for="exampleInputPassword1" class="form-label">password</label>
                   {{form.password}}
                </div>
              <div class="col">
                  <label for="exampleInputPassword1" class="form-label">comfirm password</label>
                  {{form.confirm_password}}
                 </div>
            </div>
         
          <div class="text-end">
          <button type="submit" class="btn btn-cta ps-4 pe-4 ">Sign Up</button>
        </div>
        </form>
      </div>
      </div>
  </div>

</div>                     
  {% endblock %}
  


