{% extends 'base2.html' %}
{% block title %}
SignUp | DB
{% endblock %}
{% block css %}
{% load static %}   
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}
{% block body %}  
<div class="row">
  <div class="col-5 side-img" >
    <a>
    <img class="fixed-logo" src="{% static 'imgs/logo_white.png'%}" alt="" >
    </a>
      <img src="{% static 'imgs/accnt_img.png' %}" alt=""> 
  </div>
  <div class="col-7 signup_div">
     
      <div class="container">
          <div class="text-end pt-4 dont-have">
              <p>Already have an account?<a href="{% url 'login' %}" class="btn ms-3 ps-3 pe-3 btn-outline-db">Login</a></p>
          </div>
          <div class="formcontainer  container">
      <form  action='' method='POST' class="signupform mt-5 pt-5">
        {% csrf_token %}
          <h3>SIGN UP</h3>
          <div class="form-row row mb-4">
            <div class="col">
                <label for="exampleInputPassword1" class="form-label">First Name</label>
                {{form.first_name}}
               </div>
            <div class="col">
                <label for="exampleInputPassword1" class="form-label">Last Name</label>
                {{form.last_name}}
              </div>
          </div>
          <div class="form-row row mb-4">
            <div class="col mb-4 email-div">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
               {{form.email}}
            </div>
            <div class="col">
                <label for="exampleInputPassword1" class="form-label">Phone Number</label>
                {{form.phone_number}}
               </div>
          </div>
          
          <div class="form-row row mb-4">
              <div class="col">
                   <label for="exampleInputPassword1" class="form-label">Password</label>
                   {{form.password}}
                </div>
              <div class="col">
                  <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                  {{form.confirm_password}}
                 </div>
            </div>
         
          <div class="text-end">
          <button type="submit" class="btn btn-cta ps-4 me-4 pe-4 btn-accnt">Sign Up</button>
        </div>
        </form>
      </div>
      </div>
  </div>

</div>                     
  {% endblock %}
  


